---
layout: default
title: Home
---

<section class="archive">
{% for post in site.posts %}
{% unless post.next %}

{% unless forloop.first %}<div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">

{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">
{% endif %}
{% endunless %}

  <article class="row gutters">
      <div class="post"><h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a></h2></div>
    <div class="post-date col span_4">
      <div class="post-meta"><h3><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time></h3></div>
    </div>
    <div class="post-content">
    {{ post.excerpt | strip_html }}
    </div>
    <p class="readmore"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">Read more</a></p>
  </article>

{% if forloop.last %}</div></div>{% endif %}

{% endfor %}
  
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
</section>
