@import "my/post.scss";

@import "my/sidebar.scss";
@import "my/sidebar_main.scss";
@import "my/sidebar_post.scss";
@import "my/sidebar_listgroup.scss";

@import "my/archives.scss";

@import "my/back_to_top.scss";

/*---------------------- main ------------------------*/

$height-footer: 40px;


html {
    height: 100%;
}

body {
    font-family: "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", serif;
    min-height: 100%;
    position: relative;
    padding-bottom: $height-footer;
}

blockquote, blockquote p {
    font-style: italic;
    line-height: 1.3em;
    text-align: center;
    color: #3c3c3c;
    margin-bottom: 32px; }

.katex {
    font-size: 20px !important; }
  
.katex-display {
overflow-x: auto;
overflow-y: hidden; }

p {
    color: #515151;
    margin-bottom: 32px;
    font-size: 20px;
}

.post ul li {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 10.6666666667px; }

strong {
    font-weight: bolder;
}

pre.highlight {
    font-size: 90%;
    background: #272822;
}

/*---------------------- footer copyright ------------------------*/

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #F8F8F8;
    border-top: 1px solid #EAEAEA;
}

.footer .copyright {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
    margin: 0 auto;
    display: block;
    color: #404040;
    text-align: center;
}